{% extends 'base.html.twig' %}

{% block title %}Igreja index{% endblock %}

{% block body %}
    <h1>Igreja index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for igreja in igrejas %}
            <tr>
                <td>{{ igreja.id }}</td>
                <td>{{ igreja.nome }}</td>
                <td>{{ igreja.endereco }}</td>
                <td>{{ igreja.website }}</td>
                <td>
                    <a href="{{ path('app_igreja_show', {'id': igreja.id}) }}">show</a>
                    <a href="{{ path('app_igreja_edit', {'id': igreja.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_igreja_new') }}">Create new</a>
{% endblock %}
